body 
{
	font-family: Cambria;
	font-size: 14;
	margin: 2%;

}

a
{
	margin-top: 0;
	margin-bottom: 0;
	color: black;
	text-decoration: none;
}

a:hover
{
	color: pink
}

hr
{
	margin-top: 20;
	margin-bottom: 0;
}

ul
{
	margin-top: 0;
}

.pageTitle
{
	color: black;
	text-align: left;
	font-size: 40;
	font-family: Times;
	font-weight: normal;
	margin-bottom: 0;
}

.resume
{
	max-width: 700;
}

.resume_left
{
	width: 220;
  	height: 380px;
  	float: left;
}

.resume_right
{
	margin-left: 15%;
  	height: 380px;
}

.resumeTitle
{
	font-size: 22;
	margin-bottom: 6;
	margin-top:10;
}

.resumeDate
{
	text-align: right;
	float: right;
	font-size: 14;
	font-style: italic;
	color:grey;
}

.resumeDescription
{
	font-size: 14;
	text-align: justify;
}

.resumePad
{
	/*margin-top: 5;*/
	font-size: 1;
}