::-webkit-scrollbar {
	display: none;
}

html {
	scroll-behavior: smooth;
	zoom: 100%;
}

.socialLinks {
	padding-top: 12px;
	right: 0;
	top: 30px;
	height: 30px;
}

.headerTab {
	top: 65px;
	float: right;
	/* height: 30px; */
	overflow: hidden;
	border: 1px solid #ccc;
	background-color: #f1f1f1;
}

.headerRight {
	text-align: right;
}

.header {
	width: 700px;
	/* height: 65px; */
	margin-top: 20px;
}

.logoBox {
	margin-top: 15px;
	font-family: Cambria;
	font-size: 15px;
	float: left;
}

body {
	font-family: Verdana;
	font-size: 13px;
	margin: auto;
	/* margin-top: 5px; */
	margin-bottom: 20px;
	width: 700px;
}

a {
	margin-top: 0;
	margin-bottom: 0;
	color: black;
	text-decoration: none;
}

a:hover {
	color: pink;
}

hr {
	margin-bottom: 0;
}

ul {
	margin-top: 0;
}

li {
	margin-left: -8px;
	text-align: left;
}

.pageTitle {
	color: black;
	text-align: left;
	font-size: 40px;
	font-family: Times;
	font-weight: normal;
	margin-bottom: 0;
}

.headerTab button {
	background-color: inherit;
	vertical-align: middle;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 9px 16px;
}

.headerTab button:hover {
	background-color: #f2f2f2;
}

.headerTab button.active {
	background-color: #e6e6e6;
}

.resume_left {
	width: 210px;
	margin-right: 10px;
	height: 648px;
	float: left;
}

.resumeDescriptionJustify {
	text-align: justify;
	width: 100%;
}

.miscBody {
	font-family: Verdana;
	font-size: 13px;
	margin: 0 auto;
	text-align: center;
}

.postContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	width: 100%;
}

.postLink {
	display: inline-block;
	text-decoration: none;
	color: black;
	margin-bottom: 20px;
	width: 500px;
}

.postImage {
	display: block;
	object-fit: cover;
	margin-left: auto;
	margin-right: auto;
}

.postLink:hover {
	color: pink;
}

.postLink img {
	margin-right: 10px;
}

.postContent {
	margin-top: 10px;
	width: 100%;
	display: flex;
}

.textContainer {
	position: inherit;
	display: flex;
	flex-direction: column;
	width: 100%;
}

.postTitle {
	margin-bottom: 5px;
	font-size: 24px;
	font-family: FF Scala;
	font-weight: 500;
	text-align: right;
}

.contentTitle {
	font-size: 24px;
	margin-bottom: 6px;
	margin-top: 10px;
	font-family: FF Scala;
	font-weight: 500;
	padding-left: 10px;
}

.recentWorkVideo {
	width: 40%;
	justify-content: center;
}

.resumeBulletHeader {
	font-size: 20px;
	margin-top: 10px;
	margin-bottom: 6px;
	font-family: FF Scala;
	font-weight: 500;
}

.contentDate {
	text-align: right;
	float: right;
	right: 20px;
	font-size: 12px;
	font-style: italic;
	color: grey;
	font-family: Verdana;
	font-weight: normal;
}

.contentDescriptionJustify {
	text-align: justify;
	padding-left: 20px;
}

.contentDescriptionLeft {
	text-align: left;
	padding-left: 20px;
}

.contentPad {
	font-size: 1px;
}

.contentTweet {
	left: 100px;
}

.contentVideo {
	width: 100%;
}